body {
  font-family: "Amiri Quran", serif;
  /*background: #e4f1fe;*/
  color: white;
  background-color: #22313f;
}
.current-forecast {
  margin-top: 55px;
  margin-bottom: 25px;
  text-align: center;
  left: 25px;
  right: 25px;
}
.current-forecast .heading-1 {
  font-weight: 20px;
  font-size: 40px;
  color: #1a64d6;
  /*color: #885df1;*/
}
.row {
  text-align: center;
}

.currentWeather {
}
.top-part {
  margin-bottom: 25px;
}
#right {
  text-align: right;
}
#left {
  text-align: left;
}
.temperature {
  font-size: 40px;
  line-height: 1;
  font-weight: 250;
}
.units {
  position: relative;
  top: -14px;
}
#forecast {
  text-align: center;
}

.weather-forecast-date {
  font-size: 20px;
}
.weather-forecast-date img {
  margin-top: 26px;
  margin-bottom: 26px;
}
.weather-forecast-temperature-min {
  font-size: 18px;
}
.weather-forecast-temperature-max {
  font-size: 18px;
}
/*depedning on the weather , The background image 
      changes like with ios.
      Sunny the backgroundare proper clouds,
      rany , background is rain*/
.box {
  align-items: right;
  height: 50px;
  background-color: #eee;
  width: 330px;
  border-radius: 50px;
  display: flex;

  align-items: right;
  justify-content: space-between;
  padding: 0px 24px;
}
input {
  width: 140px;
  border: #003f9e;
  outline: none;
  background: none;
  font-size: 18px;
}
.fa-solid:hover {
  color: purple;
  cursor: pointer;
}
#temp-description {
  text-transform: capitalize;
}
.h1 {
  font-weight: 25px;
  font-size: 55px;
}
.h3 {
}
.current-forecast .Weather-Search {
  text-align: center;
}
#search-text-input {
  text-align: center;
  color: white;
  width: 22%;
  padding: 5px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #007cb9;
  border-radius: 20px;
}

button {
  border-radius: 25px;
  border: none;
  background: #007cb9;
  font-size: 16px;
  text-align: center;
  line-height: 10px;
  padding: 13px 18px;
  text-align: center;
  color: white;
}
button:hover {
  cursor: pointer;
  background: #0066ffee;
}
/*list  */
#list {
  list-style: none;
}
/*Weather description */

/* footer section styling */
footer {
  padding: 15px 23px;
  color: wheat;
  text-align: center;
  align-items: center;
}
